* {
	font-family:sans-serif;
	font-size:18px;
}

#wrapper {
	width: 100%;
	height: 100%;
	background-color: rgb(51,51,51);
}

html,body {
	height:100%;
	margin:0px;
}

table {
	border-width: 0px;
	width: 100%;
}

td img {
	max-height: 100%;
}

.next5album {
	height: 125px;
}

#top3,#next5 {
	padding: 0px;
	overflow-x: auto;
	overflow-y: hidden;
}

#submissions img {
	width: 50px;
}

#userpanel {
	width: 175px;
	height: 100%;
	background: rgb(51,51,51);
	color: white;
	position: fixed;
	margin-top: 80px;
	padding: 7px;
}

#username {
	text-align: center;
	font-size: 24px;
	font-family: serif;
}

#ownlast3 {
	height: 170px;
	width: 179px;
	margin-left: -7px;
	padding: 5px;
	background-color: purple;
}

#submit {
	margin-left: auto;
}

#friendList {
	text-align: right;
}

#contentpanel {
	margin-left: 189px;
}

#musicarea {
	padding-top: 80px;
}

#musicarea table {
	height: 100%;
}

#titlebar {
	width:100%;
	height: 80px;
	background: linear-gradient(rgb(51,51,51),rgb(21,21,21));
	color: white;
	position: fixed;
	text-align: center;
}

#submissionform {
	background-color: purple;
	color: white;
	height: 360px;
	padding: 10px;
}

#submissionform [type=text] {
	width: 90%;
}

#submissionform [name=review] {
	width: 90%;
	height: 120px;
}

#top3 {
	background-color: pink;
	height: 360px;
}

#top3 img {
	width: 200px;
	border: 1px solid black;
	margin: 25px;
}

.recommendationtitle {
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,.75);
	padding-top: 5px;
	padding-bottom: 5px;
}

#top3summary {
	padding: 10px;
	text-align: center;
}

#top3summary table {
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}

#top3summary td:hover {
	background: black;
	color: white;
}

#next5 {
	background-color: green;
	height: 180px;
	text-align: center;
}

#next5 img {
	padding: 10px;
	height: 130px;
}

#next5 img:hover {
	background-color: black;
}

#dynamicwell {
	background-color: rgb(51,51,51);
	color: white;
	min-height: 200px;
	overflow-y: auto;
}

.review * {
	font-size: 16px;
	font-family: serif;
}

.cover1 {
	height:125px;
}

.hidden {
	display: none;
}

h1 {
	font-size: 32px;
	text-align: center;
}