* {
	font-family:sans-serif;
	font-size:18px;
}

#wrapper {
	width: 100%;
	height: 100%;
	background-color: rgb(51,51,51);
	position: relative;
}

html,body {
	height:100%;
	margin:0px;
}

table {
	border-width: 0px;
	width: 100%;
}

td img {
	max-height: 100%;
}

#top3,#next5 {
	overflow-y: hidden;
}

#submissions img {
	width: 50px;
	box-shadow: 1px 1px black;
}

#userpanel {
	width: 190px;
	height: 100%;
	background: rgb(51,51,51);
	color: white;
	position: fixed;
	top: 71px;
	box-shadow: 2px 2px 1px rgba(0,0,0,.5);
	z-index: 1;
}

#usernamecontainer {
	text-align: center;
	margin: 10px;
}

#sass {
	font-size: 11px;
}

#username {
	margin: auto;
	font-size: 30px;
	font-family: 'Allan';
	text-shadow: 1px 1px cyan;
}

#ownlast3 {
	height: 130px;
	width: 190px;
	background-color: green;
	position: relative;
}

#submitnew {
	position: absolute;
	font-weight: bold;
	bottom: 5px;
	right: 5px;
}

#friendlist {
	text-align: right;
	list-style-type: none;
	margin-right: 10px;
}

#friendlist li a {
	font-size: 14px;
}

#contentpanel {
	margin-left: 190px;
	background-color: cyan;
	padding-top: 70px;
	position: relative;
}

#contentpanel table {
	height: 100%;
	margin: auto;
}

#contentpanel img {
	box-shadow: 1px 1px black;
}

#titlebar {
	width:100%;
	height: 70px;
	background:rgb(30,30,30);
	color: white;
	position: fixed;
	text-align: center;
	border-bottom: 1px solid magenta;
	box-shadow: 2px 2px 1px rgba(0,0,0,.5);
	z-index: 1;
}

#submissionform {
	background-color: green;
	color: white;
	height: 100%;
	padding: 10px;
}

#submissionform [type=text] {
	width: 90%;
}

#submissionform [name=type] {
	width: 75px;
}

#submissionform [name=recommendationText] {
	width: 90%;
	height: 120px;
}

#submissionform [name=albumTrack] {
	width: 60%;
}

#submissionform select {
	width: 35%;
}

#submissionform input,select,textarea,button {
	font-size: 14px;
}

.recommendationtitle {
	text-align: center;
	font-size: 18px;
	font-family: 'Signika Negative', sans-serif;
	font-weight: 600;
	color: white;
	text-shadow: 1px 1px black;
	background-color: rgba(0,0,0,.75);
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

#top3 .recommendationtitle {
	border-bottom: 1px solid cyan;
}

#next5 .recommendationtitle {
	border-bottom: 1px solid teal;
}

#dynamicwell .recommendationtitle {
	border-bottom: 1px solid white;
}

#top3 {
	background-color: cyan;
	height: 360px;
	overflow-x: auto;
	left: 190px;
	right: 0px;
}

#top3 img {
	width: 200px;
	box-shadow: 1px 1px black;
	margin: 30px auto 15px auto;
}

#top3summary {
	padding: 10px;
	text-align: center;
}

#top3summary table {
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}

#top3summary td:hover {
	background: rgba(0,0,0,.5);
	color: white;
	cursor: pointer;
}

#top3details td {
	font-size: 14px;
}

#top3details table {
	margin: 0px 50px 0px 50px;
	max-width: 80%;
}

#top3details td {
	padding: 10px;
}

.recommenderCell {
	border-bottom: 1px solid black;
}

.coverCell {
	text-align: right;
}

#next5 {
	background-color: teal;
	height: 210px;
	text-align: center;
	overflow-x: hidden;
	position: relative;
	left: 0px;
	right: 0px;
}

.wellhidden {
	position: fixed;
	bottom: 0px;
}

.wellshown {
	padding-bottom: 210px;
}

#next5 img {
	margin: 10px;
	height: 130px;
}

#next5 img:hover, #dynamicwell img:hover {
	border: 1px solid white;
	cursor: pointer;
}

#next5 table, #dynamicwell table {
	border-collapse: collapse;
	width: auto;
	margin: auto;
}

#next5 tr, #next5 tbody {
	display: table-cell;
}

#next5 .detailCell {
	font-size: 80%;
	text-align: left;
	padding-right: 15px;
}

.prev5control,.next5control {
	height: 118px;
	width: 25px;
	font-size: 36px;
	background-color: rgba(0,0,0,.75);
	color: white;
	display: block;
	position: absolute;
	top: 33px;
	padding-top: 65px;
	text-shadow: 1px 1px black;
}

.prev5control {
	float: left;
	left: 0px;
}

.prev5control:hover {
	background-color: rgba(255,100,100,.85);
	cursor: pointer;
}

.next5control {
	float: right;
	right: 0px;
}

.next5control:hover {
	background-color: rgba(255,100,100,.85);
	cursor: pointer;
}

#dynamicwell {
	background-color: rgb(51,51,51);
	color: white;
	height: 210px;
	overflow-y: auto;
	position: fixed;
	overflow-y: hidden;
	bottom: 0px;
	left: 190px;
	right: 0px;
	z-index: 2;
}

#dynamicwell img {
	margin: 10px;
	height: 130px;
}

h1 {
	margin-top: 8px;
	font-family: 'Allan';
	font-weight: 400;
	font-size: 44px;
	text-align: center;
	text-shadow: 2px 2px magenta;
}

h2,h3,h4,h5,h6 {
	font-family: 'Signika Negative', sans-serif;
	font-weight: 600;
	font-size: 100%;
	text-align: center;
	text-shadow: 1px 1px black;
	margin: 5px 10px 5px 10px;
}

h4,h5 {
	border-bottom: 1px solid white;
}

#controls {
	position: relative;
}

#userpanel li {
	font-weight: bold;
	margin: 8px;
	padding-right: 5px;
	color: magenta;
	cursor: pointer;
}

#showhidewell {
	position: absolute;
	left: 50px;
}

.selected {
	background-color: rgb(30,30,30);
	color: white;
	border: 1px solid magenta;
}