* {
	font-family:sans-serif;
	font-size:18px;
}

html,body {
	height:100%;
	margin:0px;
}

.album {
	display: block;
	vertical-align: middle;
}

td img {
	max-height: 100%;
}

table {
	width: 100%;
	max-height: inherit;
}

.next5album {
	height: 125px;
}

#top3,#next5,#dynamicwell {
	overflow: hidden;
}

#submissions img {
	width: 50px;
}

#wrapper {
	width: 100%;
	height: 100%;
}

#userpanel {
	width: 175px;
	height: 100%;
	background: rgb(51,51,51);
	color: white;
	position: fixed;
	margin-top: 80px;
}

#userpanel h2,h3 {
	font-family: serif;
}

#ownlast3 {
	height: 150px;
	background-color: purple;
}

#contentpanel {
	margin-left: 175px;
}

#musicarea {
	padding-top: 80px;
}

#musicarea table {
	height: 100%;
}

#titlebar {
	width:100%;
	height: 80px;
	background: linear-gradient(rgb(51,51,51),rgb(21,21,21));
	color: white;
	position: fixed;
	text-align: center;
}

#top3 {
	height: 40%;
	background-color: pink;
	height: 250px;
}

#next5 {
	height: 20%;
	background-color: green;
	height: 150px;
	text-align: center;
}

#next5 img {
	padding: 10px;
	height: 130px;
}

#dynamicwell {
	background-color: rgb(51,51,51);
	color: white;
	height: 200px;
	max-height: 30%;
}

#welltitle {
	font-size: 20px;
	height: 25px;
	text-align: right;
}

.review * {
	font-size: 16px;
	font-family: serif;
}

.cover1 {
	height:125px;
}

h1 {
	font-size: 32px;
	text-align: center;
}

h2 {
	font-size: 26px;
	text-align: center;
}

h3 {
	font-size: 20px;
	text-align: center;
}

#top3 img {
	width: 200px;
}